{% extends "base.html" %}

{% block content %}

<div class="page-header"> Baza danych </div>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>patient_id</th>
                <th>name</th>
                <th>surname</th>
                <th>activity</th>
                <th>sampling_freq</th>
            </tr>
        </thead>
        <tbody>
        {% for element in data %}
        <tr>
            <th>{{ element.id }} </th>
            <th>{{ element.name }}</th>
            <th>{{ element.surname }}</th>
            <th>{{ element.activity }}</th>
            <th>{{ element.sampling_freq }}</th>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}