{% extends "base.html" %}

{% block content %}

<div class="page-header">Sygnał</div>

    {% for id in ids %}
        <div id="{{id}}"></div>
    {% endfor %}

    <div class="page-header"><h4>Parametry sygnału</h4></div>
    <div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Parametr</th>
                <th>Sygnał w osi X</th>
                <th>Sygnał w osi Y</th>
                <th>Sygnał w osi Z</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <th>Czas trwania (sek):</th>
            <th>{{ lenX }}</th>
            <th>{{ lenY }}</th>
            <th>{{ lenZ }}</th>
        </tr>
        <tr>
            <th>Średnia wartość:</th>
            <th>{{ meanX }}</th>
            <th>{{ meanY }}</th>
            <th>{{ meanZ }}</th>
        </tr>
        <tr>
            <th>Odchylenie standardowe:</th>
            <th>{{  stdX }}</th>
            <th>{{  stdY }}</th>
            <th>{{  stdZ }}</th>
        </tr>
        </tbody>
    </table>
</div>

    <footer>
    <!-- D3.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Plotly.js -->
    <script src="https://d14fo0winaifog.cloudfront.net/plotly-basic.js"></script>

    <script type="text/javascript">
        var graphs = {{graphJSON | safe}};
        var ids = {{ids | safe}};
        for(var i in graphs) {
            Plotly.plot(ids[i], // the ID of the div, created above
                        graphs[i].data,
                        graphs[i].layout || {});
        }
    </script>
</footer>

{% endblock %}
