{%extends "base.html"%}
{%block content%}

<div class="page-header">WITAJ</div>
    Przedstawiamy telemedyczną aplikację webową do przetwarzania i udostępniania danych ADL. Została ona zrealizowana w ramach przedmiotu
    "Podstawy Telemedycyny" realizowanego dla kierunku Inżynieria Biomedyczna na Wydziale Elektrotechniki, Automatyki, Informatykii Inżynierii Biomedycznej (AGH, Kraków).
    <br><br>
    Pozwala ona na dodawanie sygnału do bazy danych, wyświetlanie oraz pobieranie dowolnych sygnałów, a także na modyfikację danych w bazie i przeglądanie oraz wyszukiwanie sygnałów w bazie.

{%endblock%}
